{% extends "admin/base.html" %}

{% block baslik %}PERSONEL DETAY{% endblock %}

{% block content %}

<script>
var btn_geri = function(){
      window.location.replace("/yonetim/personel/")
}
</script>

    <div>
        <table class="blueTable">
            <thead>
                <tr><th colspan="2" style=" text-transform: uppercase">{{ personel.ad_soyad }}</th></tr>
            </thead>
            <tbody>
            <tr>
                <td style="width:25%;">Kategori</td>
                <td style="width:75%;">{{ personel.kategori }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Unvan</td>
                <td style="width:75%;">{{ personel.unvan }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Resim</td>
                <td style="width:75%;">{% if personel.resim %}<img width="60" height="60" src="{{personel.resim.url}}" alt="{{personel.ad_soyad}}" >{% endif %} </td>
            </tr>
            <tr>
                <td style="width:25%;">Durum</td>
                <td style="width:75%;">{% if personel.durum %}Aktif{% else %}Pasif{% endif %} </td>
            </tr>
            <tr>
                <td style="width:25%;">Öz Geçmiş</td>
                <td style="width:75%;">{{ personel.CV|safe }}</td>
            </tr>
            </tbody>
        </table>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button type="button" class="push button red" onclick="btn_geri()">Geri</button>
    </div>
    </div>

{% endblock %}
