{% extends "admin/base.html" %}

{% block baslik %}PERSONEL BİLGİLERİ{% endblock %}


{% block content %}


<script>
var btn_git	=function(){
		window.location = "/yonetim/personel/duzenle";
}

var btn_cik=function(){
    window.location = "/logout";
}

</script>


<div class="sol">
    <button type="button" onclick="btn_git()" class="push_button blue">Personel Ekle</button>

</div>
<div>
&nbsp;
    &nbsp;
</div>

<table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Kategori</th>
        <th>Unvan</th>
        <th>Adı Soyadı</th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8">
                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    <tr>
        {% for personel in personeller %}
        <td>{{personel.kategori}}</td>
        <td>{{personel.unvan}}</td>
        <td>{{personel.ad_soyad}}</td>
        <td>{% if personel.resim != "" %}<img width="60" height="60" src="{{personel.resim.url}}" alt="{{personel.ad_soyad}}" >{% endif %} </td>
        <td>{% if personel.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/personel/detay/{{ personel.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/personel/duzenle/{{ personel.id }}"><button>Düzenle</button></a>
        </td>
        <td>
            <a href="/yonetim/personel/sil/{{ personel.id }}"><button>Sil</button></a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
