{% extends "admin/base.html" %}

{% block baslik %}MENULER{% endblock %}


{% block content %}


<script>
function btn_git(){
		window.history.back()
}

</script>
<div class="sol">
    <button type="button" onclick="btn_git()" class="push_button blue" >Menu Ekle</button>

</div>

<table class="blueTable" style="margin-top:80px;">
    <thead>
    <tr>
        <th>Menü Adı</th>
        <th>Alan</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        {% for menu in menu %}
        <td>{{menu.baslik}}</td>
        <td>{{menu.alan}}</td>
        <td>{{menu.durum}}</td>
        <td>
            <a href="/yonetim/menu/duzenle/{{ menu.id }}"><button>Düzenle</button></a>
        </td>
        <td>
            <a href="/yonetim/menu/sil/{{ menu.id }}"><button>Sil</button></a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
