{% extends "admin/base.html" %}

{% block baslik %}DUYURU SİL{% endblock %}

{% block content %}
 <script>
        function onay()
        {
            return window.comfirm("Duyuru kaydını silmek istiyor musunuz?")
        }
        function btn_geri()
        {
		    window.location = "/yonetim/menu/";
        }
    </script>
<form method="post">
    {% csrf_token %}
    <div>
        <table class="blueTable">
            <thead>
                <tr><th style=" text-transform: uppercase " colspan="2">MENULER</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Başlık</td>
                <td>{{ menu.baslik }}</td>
            </tr>
            <tr>
                <td>Durum</td>
                <td>{% if menu.durum %}Aktif{% else %}Pasif{% endif %} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button type="submit" onclick="onay()" class="push button red"> &nbsp;&nbsp;Sil &nbsp; &nbsp;</button>
        <button type="button" class="push button red" onclick="btn_geri()">Geri</button>
    </div>

</form>
{% endblock %}
