{% extends "anasayfa/base.html" %}

{% block content %}
<div>
    <h2>BÖLÜM HAKKINDA</h2>
    <div>
        <p>
            Türkiye’de imar faaliyetlerinin ve teknik hizmet gereksiniminin artması nedeniyle Milli Eğitim Bakanlığı’nın
            07 Haziran 1949 tarihli kararıyla üniversitemizde Harita ve Kadastro Mühendisliği Bölümü, Prof. Dr. Hc.
            Macit ERBUDAK, Prof. Dr. Hc. Ekrem ULSOY ve Prof. Dr. Hc. Burhan TANSUĞ tarafından kurulmuş olup, Türkiye’de
            bu alanda mühendis yetiştiren ilk bölüm olarak 1949 yılında eğitim-öğretime başlamıştır.
        </p>
        <p>
            İstanbul Teknik Okulu, 03 Haziran 1969 tarihinde yayımlanan 1184 sayılı Devlet Mühendislik ve Mimarlık
            Akademileri yasasıyla “İstanbul Devlet Mühendislik ve Mimarlık Akademisi (İDMMA)”ne dönüşmüştür. Bu tarihten
            1982 yılına kadar, Harita Kadastro Mühendisliği Bölümü İstanbul Devlet Mühendislik ve Mimarlık Akademisi
            içinde faaliyet göstermiştir. Bölümün öğretim planında kuruluşundan 1973 yılına kadar önemli bir değişiklik
            gözlenmemektedir. 1973 ve 1976’da lisans öğretim planlarında değişiklikler yapılmış ve kredi sistemi
            getirilmiştir.
        </p>
        <p>
            İDMMA, 20 Temmuz 1982 tarihli 41 sayılı Kanun Hükmünde Kararname ve Bu Kararnamenin Değiştirilerek Kabulüne
            Dair 30 Mart 1983 tarihli 2809 sayılı Kanun ile “Yıldız Üniversitesi”ne dönüştürülmüştür. Harita Kadastro
            Mühendisliği Bölümünün adı da 1982 tarihli Yükseköğretim Kurulu (YÖK) Yasası ile birlikte “Jeodezi ve
            Fotogrametri Mühendisliği Bölümü” olarak değiştirilmiştir. Jeodezi ve Fotogrametri Mühendisliği Bölümü
            Yıldız Üniversitesi, Mühendislik Fakültesi içinde faaliyet göstermiştir. Ayrıca, 1982’de üniversite olduktan
            sonra ders planlarında yeni düzenlemeye gidilmiş ve yasayla konulan Türkçe, Atatürk İlkeleri ve İnkilap
            Tarihi derslerinin yanı sıra meslek derslerinin ağırlığı arttırılmıştır.
        </p>
        <p>
            Yıldız Üniversitesi, 03 Temmuz 1992 tarih ve 3837 sayılı yasayla, “Yıldız Teknik Üniversitesi” adını almış
            ve Jeodezi ve Fotogrametri Mühendisliği Bölümü yeni kurulan İnşaat Fakültesi’ne bağlanmıştır. 1997 yılında
            ders planlarında önemli değişikliklere gidilmiş, yurt dışı akreditasyonlar gündeme gelmiş ve derslerin
            kredileri toplamı, 180’lerden 150’lere düşürülmüştür. Yabancı dil hazırlık dersi tüm öğrenciler için zorunlu
            hale getirilmiştir. Ayrıca üniversite, fakülte ve bölüm bazında zorunlu ve seçimlik dersler konulmuştur. Bu
            derslerin içinde sosyal seçimlik dersler de yer almıştır. Bunlara ek olarak, her öğrenci için en az sekiz
            kredilik İngilizce ders alma ve başarma zorunluluğu getirilmiştir. 2003 yılında ders planlarında yeniden bir
            güncellemeye gidilmiştir. Seçimlik derslerde bazı düzenlemeler yapılmış, ders planlarına tasarım
            geliştirmeye yönelik seçimlik dersler konulmuş ve seçimlik ders gruplarının sayıları arttırılmıştır.
        </p>
        <p>
            2008-2009 Eğitim-Öğretim Yılı, Güz Yarıyılında itibaren üniversitemizin Davutpaşa Kampüsünde akademik
            faaliyetlerine devam eden bölümümüzün ismi, 2009 yılında “Harita Mühendisliği” olarak değiştirilmiştir
            (İlgili YÖK kararı ile bazı üniversitelerde Geomatik Mühendisliği adı da kullanılmaktadır). Harita
            Mühendisliği Bölümü 2013 yılında Bologna sistemine geçmiş ve ders planları yenilenmiştir. 2015-2016 öğrenim
            yılında da %30 İngilizce eğitim ve zorunlu hazırlık eğitimi de başlamıştır. 2013-2014 öğrenim yılında 2.
            Öğretime öğrenci alımı durdurulmuştur. 2018 yılında Bologna sisteminin güncellenmesi yapılarak öğretim
            planları revize edilmiştir.
        </p>
    </div>
</div>
{% endblock %}