{% extends "admin/base.html" %}

{% block baslik %}DUYURU SİL{% endblock %}

{% block content %}
 <script>
        function onay()
        {
            return window.comfirm("Duyuru kaydını silmek istiyor musunuz?")
        }
        function btn_geri()
        {
		    window.history.back()
        }
    </script>
<form method="post">
    {% csrf_token %}
    <div>
        <table class="blueTable">
            <thead>
                <tr><th style=" text-transform: uppercase " colspan="2">{{ duyuru.baslik }}</th></tr>
            </thead>
            <tbody>
            <tr>
                <td style="width:25%;">Yayın Tarihi</td>
                <td style="width:75%;">{{ duyuru.tarih }}</td>
            </tr>
            <tr>
                <td style="width:25%;" >İçerik</td>
                <td style="width:75%;" >{{ duyuru.icerik|safe }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Durum</td>
                <td style="width:75%;">{{ duyuru.durum }}</td>
            </tr>
             <tr>
                <td style="width:25%;">Resim</td>
                <td style="width:75%;">{% if duyuru.resim %}<img width="60" height="60" src="{{duyuru.resim.url}}">{% endif %} </td>
            </tr>
            <tr>
                <td style="width:25%;" >Dosya</td>
                 <td style="width:75%;">{% if duyuru.dosya %}<a href="{{duyuru.dosya.url}}">{{duyuru.dosya}} </a> {% endif %} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button type="submit" onclick="onay()" class="push button red"> &nbsp;&nbsp;Sil &nbsp; &nbsp;</button>
        <button type="button" class="push button red" onclick="btn_geri()">Geri</button>
    </div>

</form>
{% endblock %}
