{% extends "admin/base.html" %}

{% block baslik %}BANNER{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <table class="blueTable">
        <thead>
            <tr><th colspan="2">Bannerlar</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Başlık</td>
                <td>
                    <input width="100%" name="baslik" value="{{banner.baslik}}">
                </td>
            </tr>
            <tr>
                <td>Resim</td>
                <td>
                    <input width="90%" name="icerik" value="{{banner.resim}}">
                </td>
            </tr>
            <tr>
                <td>Durum</td>
                <td>
                    {% if banner.durum == True %}
                    <label><input type="radio" name="durum" value="1" checked="checked" >Aktif</label>
                    <label><input type="radio" name="durum" value="0" >Pasif</label>
                    {% elif banner.durum == False %}
                    <label><input type="radio" name="durum" value="1" >Aktif</label>
                    <label><input type="radio" name="durum" value="0" checked="checked" >Pasif</label>
                    {% else %}
                    <label><input type="radio" name="durum" value="1" >Aktif</label>
                    <label><input type="radio" name="durum" value="0" >Pasif</label>
                    {% endif %}
                </td>

            </tr>
        </tbody>
</table>
    <div>&nbsp;</div>
    <div class="sag">
        <button type="reset" class="push button red">Temizle</button>
        <button type="submit" class="push button blue">Kaydet</button>
    </div>

</form>
{% endblock %}
