{% extends "admin/base.html" %}

{% block baslik %}PERSONEL DETAY{% endblock %}

{% block content %}

<script>
var btn_geri = function(){
      window.location.replace("/yonetim/altsayfa/")
}
</script>

    <div>
        <table class="blueTable">
            <thead>
                <tr><th colspan="2" style=" text-transform: uppercase">{{ altsayfa.baslik }}</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Alan</td>
                <td>{{ altsayfa.alan }}</td>
            </tr>
            <tr>
                <td>İçerik</td>
                <td>{{ altsayfa.icerik|safe }}</td>
            </tr>
            <tr>
                <td>Durum</td>
                <td>{% if personel.durum %}Aktif{% else %}Pasif{% endif %} </td>
            </tr>
            </tbody>
        </table>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button class="push button red" onclick="btn_geri()">Geri</button>
    </div>
    </div>

{% endblock %}
