{% extends "admin/base.html" %}

{% block baslik %}ALT SAYFALAR{% endblock %}


{% block content %}


<script>
var btn_git	=function(){
		window.location = "/yonetim/altsayfa/duzenle";
}

var btn_cik=function(){
    window.location = "/logout";
}

</script>
<div class="sol">
    {% if request.user.is_superuser %}
        <button type="button" onclick="btn_git()" class="push_button blue">Alt Sayfa Ekle</button>
    {% else %}
        <p></p>
    {% endif %}


</div>
<div>
&nbsp;
    &nbsp;
</div>

<table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Menu</th>
        <th>Baslik</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Alt Sayfalar</td>
    </tfoot>
    <tbody>
    <tr>
        {% for altsayfa in altsayfa %}
        <td>{{altsayfa.baslik}}</td>
        <td>{{altsayfa.alan}}</td>
        <td>{% if altsayfa.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/altsayfa/detay/{{ altsayfa.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/altsayfa/duzenle/{{ altsayfa.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/altsayfa/sil/{{ altsayfa.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/altsayfa/sil/{{ altsayfa.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
