{% extends "admin/base.html" %}

{% block baslik %}Alt Sayfa Sil{% endblock %}

{% block content %}
 <script>
        function onay()
        {
            return window.comfirm("Alt Sayfa kaydını silmek istiyor musunuz?")
        }
        function btn_geri()
        {
		    window.location = "/yonetim/altsayfa/";
        }
    </script>
<form method="post">
    {% csrf_token %}
    <div>
        <table class="blueTable">
            <thead>
                <tr><th colspan="2" style=" text-transform: uppercase">{{ altsayfa.baslik }}</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Alan</td>
                <td>{{ altsayfa.alan }}</td>
            </tr>
            <tr>
                <td>İçerik</td>
                <td>{{ altsayfa.icerik|safe }}</td>
            </tr>
            <tr>
                <td>Durum</td>
                <td>{% if personel.durum %}Aktif{% else %}Pasif{% endif %} </td>
            </tr>
            </tbody>
        </table>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button type="submit" onclick="onay()" class="push button red"> &nbsp;&nbsp;Sil &nbsp; &nbsp;</button>
        <button type="button" class="push button red" onclick="btn_geri()">Geri</button>
    </div>
    </div>

</form>
{% endblock %}
